{% extends "newapp/master.html" %}
{% load static %}
{% block content %}

<h1>aboutus</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum veniam cum dolor maxime quidem rem sit fugiat numquam
    aliquid recusandae, quasi similique molestias aperiam qui nihil dignissimos vitae ratione aliquam.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint minima dignissimos commodi, maiores quod accusamus. Consectetur non animi aperiam modi! Ad ea qui deleniti enim obcaecati et alias, natus veniam.</p>
    <h4>End</h4>
{% endblock %}