<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: 100px; background-color: blueviolet; ">
    <div style="float: right;">
    <span>home</span>
<span>about</span>
<span>contact</span></div></div>

<div style="min-height: 520px;">
{% block content %} 
{% endblock content %}</div>
<div style="height: 50px;background-color: black;">
<h3  style="color: white;">this is footer</h3></div>
    
</body>
</html>