
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>hello</h1>
  <img src="{% static 'images/IMG_3374.jpg' %}" alt="">
  <a href="% url 'newapp:newapp1'%">welcome</a>
  <p>Lorem ipsum dol3or sit 3amet, consectetur adipisicing elit. Quos molestia quis enim, dignissimos reiciendis expedita? Iure aut quaerat adipisci aliquid in hic nobis dolorem nam, dolore nihil. Ut, error sint.</p>  
</body>
</html>